<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="user/header::header" ></div>

<body>
<div th:replace="user/header::navbar"></div>


<div class="container">
  <div class="row">
    <div class="col">
      <h1>List Books</h1>
    </div>
    <div class="col-auto">
      <form th:action="@{/search}" method="GET" style="display: inline;" class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search books..." aria-label="Search" name="query">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>


  </div>
  <table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
    <th style="width:5%">Id</th>
    <th style="width:17%">Title</th>
    <th style="width:17%">Author</th>
    <th style="width:5%">Page Count</th>
    <th style="width:17%">Language</th>
    <th style="width:17%">Genre</th>
    <th style="width:5%">Location On Shelf</th>
    <th style="width:5%">Stock</th>
    <th style="width:12%">Actions</th>
    </thead>
    <tbody>
    <tr th:each="book:${books}">
      <td tH:text="${book.id}">Id</td>
      <td tH:text="${book.title}">Title</td>
      <td tH:text="${book.author}">Author</td>
      <td tH:text="${book.page_count}">Page Count</td>
      <td tH:text="${book.language}">Language</td>
      <td tH:text="${book.genre}">Genre</td>
      <td tH:text="${book.location_on_shelf}">Location On Shelf</td>
      <td tH:text="${book.stock}">Stock</td>
      <td>
        <form th:action="@{/user/borrow}" method="POST" style="display: inline;">
          <input type="hidden" name="bookId" th:value="${book.id}" />
          <button type="submit" class="btn btn-outline-danger">Borrow</button>
        </form>

      </td>
    </tr>
    </tbody>
  </table>

</div>
<br /><br />

<div
</body>
</html>